.notificationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it’s above other content */
}

.notificationContent {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 90%;
    width: 300px; /* You can adjust the width as needed */
}

.notificationContent h3 {
    margin-bottom: 1rem;
}

.notificationContent button {
    background: #23096c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}
